node_modules
src
webpack.config.js
tsconfig.json
.vscode-test/
*.vsix
npm-debug.log
yarn-error.log
.DS_Store
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp
*~.nib
*.pyc
*.orig
.gitattributes
.gitmodules
.gitkeep
.hgkeep
.hgignore
.hgtags
.idea
.project
.settings
.classpath
.buildpath
.project
.settings
.svn
Thumbs.db
Desktop.ini
.history
.cache
*.code-workspace
